h1 {
  padding-top: 20px;
}

.App {
  background-color: #FFE56A;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}